body {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#content {
    text-align: center;
}

#navigation ul {
    list-style: none;
}

#navigation li {
    margin-bottom: 2px;
}

#navigation a {
    text-decoration: none;
    color: steelblue;
}

#navigation a:hover {
    color: blue;
}
